<IfModule mod_rewrite.c>
	RewriteEngine on
    RewriteRule     ^rest/(.*)\.view    index.php?action=$1     [L,QSA]
    RewriteCond     %{ENV:REDIRECT_STATUS}                      ^$
    RewriteRule     .*                  index.html
</IfModule>
Options -Indexes